.search {
	
	height: 25px;
	width: 25px;
	color: white;
	@media (min-width: 2000px) {
		height: 50px;
		width:50px;	
		
		
	}
	
}

.chevron__down {
	width: 20px;
	height: 20px;
	color: white;
	font-weight: bold;
}
.play,
.info {
	height: 20px;
	margin-right: 2px;
}
.leftArrow {
	width: 50px;
	color: white;
}
.play2,
.thumbup,
.thumbdown {
	width: 25px;
	color: white;
	margin-right: 10px;
}
.leftslide,
.rightslide, 
.close {
	color: white;
	width: 30px;
	height: 30px;
}
.hamburger {
	color: white;
	z-index: 301;
	width: 100%;
	height: 100%;
}
